In [1]:
import pandas as pd
data=pd.read_csv("/content/Advanced_Dirty_Sales_Dataset.csv")

In [2]:
data.shape

(100100, 12)

In [3]:
data.columns

Index(['OrderID', 'CustomerID', 'CustomerName', 'Product', 'Category',
       'Quantity', 'Price', 'OrderDate', 'City', 'Region', 'Returned',
       'TotalAmount'],
      dtype='object')

In [4]:
data.dtypes

OrderID          int64
CustomerID       int64
CustomerName    object
Product         object
Category        object
Quantity        object
Price           object
OrderDate       object
City            object
Region          object
Returned          bool
TotalAmount     object
dtype: object

In [5]:
data.head(10)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.8
5,56788,6935,@ david !,Monitor,Electronics,1,$415.12,"October 06, 2024",LOS ANGELES#123,West,False,415.12
6,63473,2787,@ bob !,Tablet,Electronics,3,$677.7,"April 03, 2024",PHOENIX#123,West,False,2033.1
7,79506,3389,@ alice !,Phone,Accessories,9,$674.73,"July 14, 2024",HOUSTON#123,North,True,6072.57
8,55148,1287,@ david !,Laptop,Accessories,2,$330.38,09-01-2024,HOUSTON#123,East,False,660.76
9,24564,3745,@ bob !,Tablet,Accessories,8,$686.34,23/04/2023,PHOENIX#123,North,False,5490.72

In [6]:
data.tail(10)

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
100090,87473,6459,@ eva !,Phone,Electronics,7,$971.5,12/10/2023,PHOENIX#123,South,False,6800.5
100091,46252,4130,@ bob !,Phone,Accessories,7,$348.02,2024-06-01,CHICAGO#123,South,False,2436.14
100092,6769,5466,@ eva !,Keyboard,Accessories,3,$752.28,2023-08-09,LOS ANGELES#123,West,False,2256.84
100093,29838,8422,@ eva !,Monitor,NaN,8,$302.33,09/04/2023,CHICAGO#123,South,False,2418.64
100094,40937,2341,@ eva !,Tablet,Accessories,4,$736.55,"March 12, 2024",NEW YORK#123,East,True,2946.2
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,False,937.34
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,True,6752.9
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",NEW YORK#123,West,False,2533.3
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,CHICAGO#123,North,False,760.99

In [7]:
data['CustomerID'].nunique()

8999

In [8]:
print(data['Category'].unique())
print(data['Category'].nunique())

['Electronics' 'Accessories' nan]
2

In [9]:
data[data['City']=='LOS ANGELES#123']

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
5,56788,6935,@ david !,Monitor,Electronics,1,$415.12,"October 06, 2024",LOS ANGELES#123,West,False,415.12
18,86339,3999,@ eva !,Laptop,Electronics,9,$1070.42,2024-04-29,LOS ANGELES#123,West,False,9633.78
19,64556,4509,@ charlie !,Laptop,Electronics,1,$1093.26,05-21-2024,LOS ANGELES#123,East,False,1093.26
21,87250,2818,@ alice !,Phone,Electronics,3,$1188.93,"February 27, 2024",LOS ANGELES#123,North,True,3566.79
25,79725,5498,@ eva !,Tablet,Electronics,1,$686.06,24/09/2023,LOS ANGELES#123,North,False,686.06
...,...,...,...,...,...,...,...,...,...,...,...,...
100078,17979,4338,@ eva !,Monitor,Electronics,5,$491.53,23/09/2024,LOS ANGELES#123,North,False,2457.65
100080,62097,3467,@ eva !,Laptop,Accessories,4,$274.01,32/13/2023,LOS ANGELES#123,West,False,1096.04
100084,57768,5902,@ bob !,Laptop,Electronics,9,$618.35,32/13/2023,LOS ANGELES#123,West,False,5565.150000000001
100092,6769,5466,@ eva !,Keyboard,Accessories,3,$752.28,2023-08-09,LOS ANGELES#123,West,False,2256.84
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68

In [12]:
data[data["Quantity"]>5]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
7,79506,3389,@ alice !,Phone,Accessories,9.0,$674.73,"July 14, 2024",HOUSTON#123,North,True,6072.57
9,24564,3745,@ bob !,Tablet,Accessories,8.0,$686.34,23/04/2023,PHOENIX#123,North,False,5490.72
13,69640,1481,@ bob !,Phone,Accessories,6.0,$173.41,"November 26, 2023",HOUSTON#123,West,False,1040.46
17,23495,1514,@ bob !,Tablet,Electronics,9.0,$212.04,2023-07-09,CHICAGO#123,East,False,1908.36
18,86339,3999,@ eva !,Laptop,Electronics,9.0,$1070.42,2024-04-29,LOS ANGELES#123,West,False,9633.78
...,...,...,...,...,...,...,...,...,...,...,...,...
100090,87473,6459,@ eva !,Phone,Electronics,7.0,$971.5,12/10/2023,PHOENIX#123,South,False,6800.5
100091,46252,4130,@ bob !,Phone,Accessories,7.0,$348.02,2024-06-01,CHICAGO#123,South,False,2436.14
100093,29838,8422,@ eva !,Monitor,NaN,8.0,$302.33,09/04/2023,CHICAGO#123,South,False,2418.64
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,$361.9,"October 22, 2023",NEW YORK#123,West,False,2533.3

In [13]:
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')
data['TotalAmount'] = data['TotalAmount'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)
data['TotalAmount'] = pd.to_numeric(data['TotalAmount'], errors='coerce')

data['UnitTotal'] = data['Quantity'] * data['Price']
mismatches = data[data['UnitTotal'] != data['TotalAmount']]
print(f"Number of mismatches between UnitTotal and TotalAmount: {len(mismatches)}")
if not mismatches.empty:
    print("Mismatched rows (first 5):")
    print(mismatches.head())

Number of mismatches between UnitTotal and TotalAmount: 8138
Mismatched rows (first 5):
    OrderID  CustomerID CustomerName   Product     Category  Quantity   Price  \
6     63473        2787      @ bob !    Tablet  Electronics       3.0  677.70
35    35505        3635    @ david !   Monitor  Electronics       6.0  391.90
41    20600        9865      @ bob !  Keyboard  Electronics       NaN     NaN
43    48638        4913  @ charlie !    Tablet  Electronics       3.0  330.45
46     3314        1049    @ david !   Monitor  Electronics       NaN     NaN

         OrderDate             City Region  Returned  TotalAmount  UnitTotal
6   April 03, 2024      PHOENIX#123   West     False      2033.10    2033.10
35      2024-09-10              NaN  North     False      2351.40    2351.40
41      07/01/2024     NEW YORK#123   East     False          NaN        NaN
43      2024-01-12  LOS ANGELES#123   East     False       991.35     991.35
46      2023-09-09  LOS ANGELES#123   East     False          NaN        NaN

In [14]:
data['DiscountApplied']=data['UnitTotal']> data['TotalAmount']
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,32/13/2023,PHOENIX#123,South,False,870.54,870.54,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,05-02-2024,HOUSTON#123,West,False,720.10,720.10,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,11/08/2024,NEW YORK#123,East,False,1673.37,1673.37,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,32/13/2023,CHICAGO#123,North,False,2761.00,2761.00,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,32/13/2023,CHICAGO#123,East,False,1644.80,1644.80,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,NaN,West,False,937.34,937.34,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,32/13/2023,CHICAGO#123,South,True,6752.90,6752.90,False
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,"October 22, 2023",NEW YORK#123,West,False,2533.30,2533.30,False
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,26/03/2023,CHICAGO#123,North,False,760.99,760.99,False

In [15]:
data[data['Returned']==True]

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
7,79506,3389,@ alice !,Phone,Accessories,9.0,674.73,"July 14, 2024",HOUSTON#123,North,True,6072.57,6072.57,False
15,5103,1382,@ eva !,Phone,Accessories,1.0,504.94,2023-03-07,NEW YORK#123,West,True,504.94,504.94,False
21,87250,2818,@ alice !,Phone,Electronics,3.0,1188.93,"February 27, 2024",LOS ANGELES#123,North,True,3566.79,3566.79,False
31,81349,3421,@ eva !,Laptop,Accessories,7.0,1383.91,18/05/2024,LOS ANGELES#123,West,True,9687.37,9687.37,False
53,50549,8174,@ eva !,Monitor,Electronics,5.0,1358.43,32/13/2023,HOUSTON#123,South,True,6792.15,6792.15,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100031,53849,7723,@ alice !,Keyboard,Electronics,4.0,947.33,"April 14, 2023",CHICAGO#123,North,True,3789.32,3789.32,False
100041,94461,5550,@ charlie !,Keyboard,Electronics,7.0,1479.18,29/05/2023,PHOENIX#123,East,True,10354.26,10354.26,False
100061,48148,6197,@ bob !,Tablet,Accessories,3.0,670.62,13/09/2024,LOS ANGELES#123,South,True,2011.86,2011.86,True
100094,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,"March 12, 2024",NEW YORK#123,East,True,2946.20,2946.20,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,32/13/2023,CHICAGO#123,South,True,6752.90,6752.90,False

In [16]:
data['City'].value_counts().head()

City
NEW YORK#123       19781
PHOENIX#123        19771
CHICAGO#123        19615
LOS ANGELES#123    19519
HOUSTON#123        19412
Name: count, dtype: int64

In [17]:
  data['Product'].value_counts().head(3)

Product
Phone       19738
Laptop      19672
Keyboard    19626
Name: count, dtype: int64

In [18]:
data.rename(columns={'CustomerName':'CustName'},inplace=True)
data

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,32/13/2023,PHOENIX#123,South,False,870.54,870.54,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,05-02-2024,HOUSTON#123,West,False,720.10,720.10,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,11/08/2024,NEW YORK#123,East,False,1673.37,1673.37,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,32/13/2023,CHICAGO#123,North,False,2761.00,2761.00,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,32/13/2023,CHICAGO#123,East,False,1644.80,1644.80,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,NaN,West,False,937.34,937.34,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,32/13/2023,CHICAGO#123,South,True,6752.90,6752.90,False
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,"October 22, 2023",NEW YORK#123,West,False,2533.30,2533.30,False
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,26/03/2023,CHICAGO#123,North,False,760.99,760.99,False

In [19]:
data.isnull().sum()

OrderID               0
CustomerID            0
CustName              0
Product            2001
Category           2003
Quantity           1001
Price              1001
OrderDate             0
City               2002
Region                0
Returned              0
TotalAmount        1001
UnitTotal          1001
DiscountApplied       0
dtype: int64

In [20]:
data['City'].fillna('unknown',inplace=True)
data

/tmp/ipython-input-789653263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['City'].fillna('unknown',inplace=True)

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,32/13/2023,PHOENIX#123,South,False,870.54,870.54,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,05-02-2024,HOUSTON#123,West,False,720.10,720.10,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,11/08/2024,NEW YORK#123,East,False,1673.37,1673.37,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,32/13/2023,CHICAGO#123,North,False,2761.00,2761.00,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,32/13/2023,CHICAGO#123,East,False,1644.80,1644.80,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,unknown,West,False,937.34,937.34,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,32/13/2023,CHICAGO#123,South,True,6752.90,6752.90,False
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,"October 22, 2023",NEW YORK#123,West,False,2533.30,2533.30,False
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,26/03/2023,CHICAGO#123,North,False,760.99,760.99,False

In [21]:
data.drop_duplicates(subset='OrderID',inplace=True)
data

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,32/13/2023,PHOENIX#123,South,False,870.54,870.54,False
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,05-02-2024,HOUSTON#123,West,False,720.10,720.10,False
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,11/08/2024,NEW YORK#123,East,False,1673.37,1673.37,False
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,32/13/2023,CHICAGO#123,North,False,2761.00,2761.00,False
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,32/13/2023,CHICAGO#123,East,False,1644.80,1644.80,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,unknown,West,False,937.34,937.34,False
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,32/13/2023,CHICAGO#123,South,True,6752.90,6752.90,False
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,"October 22, 2023",NEW YORK#123,West,False,2533.30,2533.30,False
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,26/03/2023,CHICAGO#123,North,False,760.99,760.99,False

In [22]:
data.sort_values(by='TotalAmount',ascending=False)

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
99875,78404,2864,@ bob !,Laptop,Accessories,9.0,1499.99,07/06/2024,PHOENIX#123,West,False,13499.91,13499.91,False
47882,27909,1707,@ david !,Monitor,Electronics,9.0,1499.95,2024-01-28,CHICAGO#123,West,False,13499.55,13499.55,True
75618,63782,7708,@ david !,Keyboard,Electronics,9.0,1499.74,2024-06-07,NEW YORK#123,West,False,13497.66,13497.66,False
55578,49344,4338,@ david !,Keyboard,Electronics,9.0,1499.20,"February 13, 2023",NEW YORK#123,South,False,13492.80,13492.80,True
53794,34029,3759,@ bob !,Laptop,Electronics,9.0,1499.17,32/13/2023,PHOENIX#123,East,False,13492.53,13492.53,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99302,6464,6738,@ david !,Tablet,Electronics,NaN,NaN,"April 15, 2024",LOS ANGELES#123,North,False,NaN,NaN,False
99371,17207,5753,@ charlie !,Phone,Electronics,NaN,NaN,32/13/2023,HOUSTON#123,South,False,NaN,NaN,False
99529,29355,9833,@ eva !,Keyboard,Accessories,NaN,NaN,05-30-2023,NEW YORK#123,West,False,NaN,NaN,False
99630,86382,8146,@ bob !,Phone,Electronics,NaN,NaN,32/13/2023,HOUSTON#123,East,False,NaN,NaN,False
99845,11862,8008,@ eva !,Tablet,Electronics,NaN,NaN,03/03/2023,NEW YORK#123,North,False,NaN,NaN,False

In [23]:
data.nlargest(5,'TotalAmount')

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied
99875,78404,2864,@ bob !,Laptop,Accessories,9.0,1499.99,07/06/2024,PHOENIX#123,West,False,13499.91,13499.91,False
47882,27909,1707,@ david !,Monitor,Electronics,9.0,1499.95,2024-01-28,CHICAGO#123,West,False,13499.55,13499.55,True
75618,63782,7708,@ david !,Keyboard,Electronics,9.0,1499.74,2024-06-07,NEW YORK#123,West,False,13497.66,13497.66,False
55578,49344,4338,@ david !,Keyboard,Electronics,9.0,1499.20,"February 13, 2023",NEW YORK#123,South,False,13492.80,13492.80,True
53794,34029,3759,@ bob !,Laptop,Electronics,9.0,1499.17,32/13/2023,PHOENIX#123,East,False,13492.53,13492.53,False

In [24]:
data['OrderDate']=pd.to_datetime(data['OrderDate'], errors='coerce')
data['Year']=data['OrderDate'].dt.year
data['Month']=data['OrderDate'].dt.month
data

/tmp/ipython-input-1000687260.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['OrderDate']=pd.to_datetime(data['OrderDate'], errors='coerce')

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied,Year,Month
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10,False,2024.0,5.0
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37,False,2024.0,11.0
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,False,NaN,NaN
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,unknown,West,False,937.34,937.34,False,2023.0,8.0
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,6752.90,False,NaN,NaN
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False,2024.0,10.0
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,2533.30,False,2023.0,10.0
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0

In [25]:
data['OrderMonth']=data['OrderDate'].dt.month_name()
data

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied,Year,Month,OrderMonth
0,44770,8192,@ charlie !,Keyboard,Electronics,1.0,870.54,NaT,PHOENIX#123,South,False,870.54,870.54,False,NaN,NaN,NaN
1,23355,9138,@ charlie !,Monitor,Electronics,5.0,144.02,2024-05-02,HOUSTON#123,West,False,720.10,720.10,False,2024.0,5.0,May
2,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,False,1673.37,1673.37,False,2024.0,11.0,November
3,95176,2391,@ eva !,Monitor,Electronics,5.0,552.20,NaT,CHICAGO#123,North,False,2761.00,2761.00,False,NaN,NaN,NaN
4,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,False,1644.80,1644.80,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2.0,468.67,2023-08-14,unknown,West,False,937.34,937.34,False,2023.0,8.0,August
100096,77181,6047,@ alice !,Keyboard,Accessories,5.0,1350.58,NaT,CHICAGO#123,South,True,6752.90,6752.90,False,NaN,NaN,NaN
100097,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68,2643.68,False,2024.0,10.0,October
100098,52126,2810,@ alice !,Keyboard,Electronics,7.0,361.90,2023-10-22,NEW YORK#123,West,False,2533.30,2533.30,False,2023.0,10.0,October
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March

In [26]:
data[(data['Month']>=1) & (data['Month']<=3)]

,OrderID,CustomerID,CustName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,UnitTotal,DiscountApplied,Year,Month,OrderMonth
15,5103,1382,@ eva !,Phone,Accessories,1.0,504.94,2023-03-07,NEW YORK#123,West,True,504.94,504.94,False,2023.0,3.0,March
21,87250,2818,@ alice !,Phone,Electronics,3.0,1188.93,2024-02-27,LOS ANGELES#123,North,True,3566.79,3566.79,False,2024.0,2.0,February
24,90538,2124,@ david !,Keyboard,Accessories,4.0,898.16,2023-03-01,PHOENIX#123,West,False,3592.64,3592.64,False,2023.0,3.0,March
43,48638,4913,@ charlie !,Tablet,Electronics,3.0,330.45,2024-01-12,LOS ANGELES#123,East,False,991.35,991.35,False,2024.0,1.0,January
49,66090,6049,@ david !,Keyboard,Electronics,6.0,822.84,2024-02-22,LOS ANGELES#123,South,False,4937.04,4937.04,False,2024.0,2.0,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100074,79782,9365,@ david !,Laptop,Accessories,5.0,1368.47,2023-01-12,LOS ANGELES#123,West,False,6842.35,6842.35,False,2023.0,1.0,January
100082,44707,7179,@ charlie !,Keyboard,Electronics,9.0,1125.69,2023-02-22,PHOENIX#123,East,False,10131.21,10131.21,True,2023.0,2.0,February
100088,50567,7478,@ charlie !,Monitor,Accessories,3.0,569.70,2023-01-07,HOUSTON#123,North,False,1709.10,1709.10,True,2023.0,1.0,January
100094,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,2024-03-12,NEW YORK#123,East,True,2946.20,2946.20,False,2024.0,3.0,March
100099,80766,5705,@ david !,Tablet,Electronics,1.0,760.99,2023-03-26,CHICAGO#123,North,False,760.99,760.99,False,2023.0,3.0,March

In [27]:
data['Region'].value_counts()

Region
East     25098
North    25022
South    24998
West     24882
Name: count, dtype: int64

In [29]:
import pandas as pd
data=pd.read_csv("/content/Advanced_Dirty_Sales_Dataset.csv")
data['City'] = data['City'].str.upper()
data['City'] = data['City'].str.lower()
display(data.head())

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,phoenix#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,houston#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,new york#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,chicago#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,chicago#123,East,False,1644.8

In [30]:
data['City']=data['City'].str.upper()
data

,OrderID,CustomerID,CustomerName,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount
0,44770,8192,@ charlie !,Keyboard,Electronics,1,$870.54,32/13/2023,PHOENIX#123,South,False,870.54
1,23355,9138,@ charlie !,Monitor,Electronics,5,$144.02,05-02-2024,HOUSTON#123,West,False,720.1
2,75847,4098,@ charlie !,Laptop,Accessories,3,$557.79,11/08/2024,NEW YORK#123,East,False,1673.37
3,95176,2391,@ eva !,Monitor,Electronics,5,$552.2,32/13/2023,CHICAGO#123,North,False,2761.0
4,1854,8842,@ eva !,Laptop,Accessories,4,$411.2,32/13/2023,CHICAGO#123,East,False,1644.8
...,...,...,...,...,...,...,...,...,...,...,...,...
100095,95426,5376,@ alice !,Keyboard,Electronics,2,$468.67,2023-08-14,NaN,West,False,937.34
100096,77181,6047,@ alice !,Keyboard,Accessories,5,$1350.58,32/13/2023,CHICAGO#123,South,True,6752.9
100097,7354,2439,@ bob !,Laptop,Electronics,8,$330.46,2024-10-05,LOS ANGELES#123,East,False,2643.68
100098,52126,2810,@ alice !,Keyboard,Electronics,7,$361.9,"October 22, 2023",NEW YORK#123,West,False,2533.3
100099,80766,5705,@ david !,Tablet,Electronics,1,$760.99,26/03/2023,CHICAGO#123,North,False,760.99

In [31]:
# Convert 'Price' column to numeric, handling currency symbols and potential NaNs
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

#calculate the average price of each catogory
average_price=data.groupby('Category')['Price'].mean()
print(average_price)

Category
Accessories    801.553280
Electronics    798.945226
Name: Price, dtype: float64

In [32]:
# use groupby() to find total sales by region
total_sales=data.groupby('Region')['TotalAmount'].sum()
print(total_sales)

Region
East     1673.371644.8660.76755.2954.111908.361093.2643...
North    2761.06072.575490.721538.373566.791357.0136.34...
South    870.545445.362645.521284.542137.714937.046792....
West     720.1415.122033.11040.46504.946695.19633.78359...
Name: TotalAmount, dtype: object

In [33]:
# save only east region data to a csv file
east_region_data=data[data['Region']=='East']
east_region_data.to_csv('east_region_data.csv',index=False)
print(east_region_data)

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
2         75847        4098  @ charlie !    Laptop  Accessories        3
4          1854        8842      @ eva !    Laptop  Accessories        4
8         55148        1287    @ david !    Laptop  Accessories        2
11        36423        6745  @ charlie !    Laptop  Electronics        4
14        13329        6758    @ david !  Keyboard  Accessories        1
...         ...         ...          ...       ...          ...      ...
100079    90445        6611  @ charlie !  Keyboard  Accessories        2
100081    11600        8960      @ bob !  Keyboard  Accessories        1
100082    44707        7179  @ charlie !  Keyboard  Electronics        9
100094    40937        2341      @ eva !    Tablet  Accessories        4
100097     7354        2439      @ bob !    Laptop  Electronics        8

          Price       OrderDate             City Region  Returned TotalAmount
2        557.79      11/08/2024     NEW YORK#123   East     False     1673.37
4        411.20      32/13/2023      CHICAGO#123   East     False      1644.8
8        330.38      09-01-2024      HOUSTON#123   East     False      660.76
11       188.80      14/10/2023      HOUSTON#123   East     False       755.2
14       954.11      32/13/2023      CHICAGO#123   East     False      954.11
...         ...             ...              ...    ...       ...         ...
100079   255.23      10/06/2023      HOUSTON#123   East     False      510.46
100081  1147.33      12-07-2023      CHICAGO#123   East     False     1147.33
100082  1125.69      22/02/2023      PHOENIX#123   East     False    10131.21
100094   736.55  March 12, 2024     NEW YORK#123   East      True      2946.2
100097   330.46      2024-10-05  LOS ANGELES#123   East     False     2643.68

[25130 rows x 12 columns]

In [34]:
# reset and set index using orderID
data=data.reset_index(drop=True)
data_index=data.set_index('OrderID')
print(data)
print(data_index)

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
0         44770        8192  @ charlie !  Keyboard  Electronics        1
1         23355        9138  @ charlie !   Monitor  Electronics        5
2         75847        4098  @ charlie !    Laptop  Accessories        3
3         95176        2391      @ eva !   Monitor  Electronics        5
4          1854        8842      @ eva !    Laptop  Accessories        4
...         ...         ...          ...       ...          ...      ...
100095    95426        5376    @ alice !  Keyboard  Electronics        2
100096    77181        6047    @ alice !  Keyboard  Accessories        5
100097     7354        2439      @ bob !    Laptop  Electronics        8
100098    52126        2810    @ alice !  Keyboard  Electronics        7
100099    80766        5705    @ david !    Tablet  Electronics        1

          Price         OrderDate             City Region  Returned  \
0        870.54        32/13/2023      PHOENIX#123  South     False
1        144.02        05-02-2024      HOUSTON#123   West     False
2        557.79        11/08/2024     NEW YORK#123   East     False
3        552.20        32/13/2023      CHICAGO#123  North     False
4        411.20        32/13/2023      CHICAGO#123   East     False
...         ...               ...              ...    ...       ...
100095   468.67        2023-08-14              NaN   West     False
100096  1350.58        32/13/2023      CHICAGO#123  South      True
100097   330.46        2024-10-05  LOS ANGELES#123   East     False
100098   361.90  October 22, 2023     NEW YORK#123   West     False
100099   760.99        26/03/2023      CHICAGO#123  North     False

       TotalAmount
0           870.54
1            720.1
2          1673.37
3           2761.0
4           1644.8
...            ...
100095      937.34
100096      6752.9
100097     2643.68
100098      2533.3
100099      760.99

[100100 rows x 12 columns]
         CustomerID CustomerName   Product     Category Quantity    Price  \
OrderID
44770          8192  @ charlie !  Keyboard  Electronics        1   870.54
23355          9138  @ charlie !   Monitor  Electronics        5   144.02
75847          4098  @ charlie !    Laptop  Accessories        3   557.79
95176          2391      @ eva !   Monitor  Electronics        5   552.20
1854           8842      @ eva !    Laptop  Accessories        4   411.20
...             ...          ...       ...          ...      ...      ...
95426          5376    @ alice !  Keyboard  Electronics        2   468.67
77181          6047    @ alice !  Keyboard  Accessories        5  1350.58
7354           2439      @ bob !    Laptop  Electronics        8   330.46
52126          2810    @ alice !  Keyboard  Electronics        7   361.90
80766          5705    @ david !    Tablet  Electronics        1   760.99

                OrderDate             City Region  Returned TotalAmount
OrderID
44770          32/13/2023      PHOENIX#123  South     False      870.54
23355          05-02-2024      HOUSTON#123   West     False       720.1
75847          11/08/2024     NEW YORK#123   East     False     1673.37
95176          32/13/2023      CHICAGO#123  North     False      2761.0
1854           32/13/2023      CHICAGO#123   East     False      1644.8
...                   ...              ...    ...       ...         ...
95426          2023-08-14              NaN   West     False      937.34
77181          32/13/2023      CHICAGO#123  South      True      6752.9
7354           2024-10-05  LOS ANGELES#123   East     False     2643.68
52126    October 22, 2023     NEW YORK#123   West     False      2533.3
80766          26/03/2023      CHICAGO#123  North     False      760.99

[100100 rows x 11 columns]

In [35]:
#display all orders placed on a weekend
data['OrderDate'] = pd.to_datetime(data['OrderDate'], errors='coerce')
weekend_orders = data[data['OrderDate'].dt.dayofweek >= 5]
print(weekend_orders)

/tmp/ipython-input-1778118390.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['OrderDate'] = pd.to_datetime(data['OrderDate'], errors='coerce')

        OrderID  CustomerID CustomerName   Product     Category Quantity  \
5         56788        6935    @ david !   Monitor  Electronics        1
7         79506        3389    @ alice !     Phone  Accessories        9
8         55148        1287    @ david !    Laptop  Accessories        2
9         24564        3745      @ bob !    Tablet  Accessories        8
10        60114        6368    @ alice !    Laptop  Accessories        3
...         ...         ...          ...       ...          ...      ...
100090    87473        6459      @ eva !     Phone  Electronics        7
100091    46252        4130      @ bob !     Phone  Accessories        7
100097     7354        2439      @ bob !    Laptop  Electronics        8
100098    52126        2810    @ alice !  Keyboard  Electronics        7
100099    80766        5705    @ david !    Tablet  Electronics        1

         Price  OrderDate             City Region  Returned TotalAmount
5       415.12 2024-10-06  LOS ANGELES#123   West     False      415.12
7       674.73 2024-07-14      HOUSTON#123  North      True     6072.57
8       330.38 2024-09-01      HOUSTON#123   East     False      660.76
9       686.34 2023-04-23      PHOENIX#123  North     False     5490.72
10      512.79 2023-08-05     NEW YORK#123  North     False     1538.37
...        ...        ...              ...    ...       ...         ...
100090  971.50 2023-12-10      PHOENIX#123  South     False      6800.5
100091  348.02 2024-06-01      CHICAGO#123  South     False     2436.14
100097  330.46 2024-10-05  LOS ANGELES#123   East     False     2643.68
100098  361.90 2023-10-22     NEW YORK#123   West     False      2533.3
100099  760.99 2023-03-26      CHICAGO#123  North     False      760.99

[22911 rows x 12 columns]

In [36]:
# Create a pivot table of TotalAmount by Region and Category.
pivot_table=data.pivot_table(values='TotalAmount',index='Region',columns='Category',aggfunc='sum',margins=True)
print(pivot_table)

Category                                        Accessories  \
Region
East      1673.371644.8660.76954.113148.2300000000005461...
North     6072.575490.721538.371418.979848.33799.3377.11...
South     5445.361284.544684.763273.342114.822428.653633...
West      1040.46504.946695.13592.642040.789687.375421.9...
All       1673.371644.86072.57660.765490.721538.375445.3...

Category                                        Electronics  \
Region
East      755.21908.361093.264364.700000000001638.885258...
North     2761.03566.791357.0136.34686.062351.43729.8764...
South     870.542645.522137.714937.046792.15000000000134...
West      720.1415.122033.19633.78816.92145.522561.98639...
All       870.54720.12761.0415.122033.1755.21908.369633....

Category                                                All
Region
East      1673.371644.8660.76755.2954.111908.361093.2643...
North     2761.06072.575490.721538.373566.791357.0136.34...
South     870.545445.362645.521284.542137.714937.046792....
West      720.1415.122033.11040.46504.946695.19633.78359...
All       870.54720.11673.372761.01644.8415.122033.16072...

In [37]:
#Unpivot (melt) the pivot table from Task
pivot_reset=pivot_table.reset_index()
melted_table=pivot_reset.melt(id_vars='Region',var_name='Category',value_name='TotalAmount')
print(melted_table)

   Region     Category                                        TotalAmount
0    East  Accessories  1673.371644.8660.76954.113148.2300000000005461...
1   North  Accessories  6072.575490.721538.371418.979848.33799.3377.11...
2   South  Accessories  5445.361284.544684.763273.342114.822428.653633...
3    West  Accessories  1040.46504.946695.13592.642040.789687.375421.9...
4     All  Accessories  1673.371644.86072.57660.765490.721538.375445.3...
5    East  Electronics  755.21908.361093.264364.700000000001638.885258...
6   North  Electronics  2761.03566.791357.0136.34686.062351.43729.8764...
7   South  Electronics  870.542645.522137.714937.046792.15000000000134...
8    West  Electronics  720.1415.122033.19633.78816.92145.522561.98639...
9     All  Electronics  870.54720.12761.0415.122033.1755.21908.369633....
10   East          All  1673.371644.8660.76755.2954.111908.361093.2643...
11  North          All  2761.06072.575490.721538.373566.791357.0136.34...
12  South          All  870.545445.362645.521284.542137.714937.046792....
13   West          All  720.1415.122033.11040.46504.946695.19633.78359...
14    All          All  870.54720.11673.372761.01644.8415.122033.16072...

In [38]:
# Unpivot (melt) the pivot table from Task
pivot_reset=pivot_table.reset_index()
melted_table=pivot_reset.melt(id_vars='Region',var_name='Category',value_name='TotalAmount')
print(melted_table)

   Region     Category                                        TotalAmount
0    East  Accessories  1673.371644.8660.76954.113148.2300000000005461...
1   North  Accessories  6072.575490.721538.371418.979848.33799.3377.11...
2   South  Accessories  5445.361284.544684.763273.342114.822428.653633...
3    West  Accessories  1040.46504.946695.13592.642040.789687.375421.9...
4     All  Accessories  1673.371644.86072.57660.765490.721538.375445.3...
5    East  Electronics  755.21908.361093.264364.700000000001638.885258...
6   North  Electronics  2761.03566.791357.0136.34686.062351.43729.8764...
7   South  Electronics  870.542645.522137.714937.046792.15000000000134...
8    West  Electronics  720.1415.122033.19633.78816.92145.522561.98639...
9     All  Electronics  870.54720.12761.0415.122033.1755.21908.369633....
10   East          All  1673.371644.8660.76755.2954.111908.361093.2643...
11  North          All  2761.06072.575490.721538.373566.791357.0136.34...
12  South          All  870.545445.362645.521284.542137.714937.046792....
13   West          All  720.1415.122033.11040.46504.946695.19633.78359...
14    All          All  870.54720.11673.372761.01644.8415.122033.16072...

In [39]:
# Use .agg() to get min, max, and mean quantity for each category.
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')

data_agg_result = data.groupby('Category')['Quantity'].agg(['min','max','mean'])
print(data_agg_result)

             min  max      mean
Category
Accessories  1.0  9.0  4.995743
Electronics  1.0  9.0  4.979949

In [40]:
# Create a lookup table for CustomerID and CustomerName and remove duplicates.
lookup_table=data[['CustomerID','CustomerName']].drop_duplicates()
print(lookup_table)

        CustomerID CustomerName
0             8192  @ charlie !
1             9138  @ charlie !
2             4098  @ charlie !
3             2391      @ eva !
4             8842      @ eva !
...            ...          ...
100029        8276      @ bob !
100054        4222      @ eva !
100081        8960      @ bob !
100089        6732      @ eva !
100092        5466      @ eva !

[40134 rows x 2 columns]

In [41]:
# Create a lookup for Product and Category, remove duplicates.
lookup_table=data[['Product','Category']].drop_duplicates()
print(lookup_table)

       Product     Category
0     Keyboard  Electronics
1      Monitor  Electronics
2       Laptop  Accessories
6       Tablet  Electronics
7        Phone  Accessories
9       Tablet  Accessories
11      Laptop  Electronics
14    Keyboard  Accessories
21       Phone  Electronics
32     Monitor  Accessories
77     Monitor          NaN
95         NaN  Accessories
127        NaN  Electronics
132     Tablet          NaN
151   Keyboard          NaN
240     Laptop          NaN
717      Phone          NaN
2207       NaN          NaN

In [43]:
# Reload original data to ensure a clean slate for this merge and subsequent comparison
original_data_for_merge = pd.read_csv("/content/east_region_data.csv")
data = original_data_for_merge.copy()
customer_lookup_table = original_data_for_merge[['CustomerID', 'CustomerName']].drop_duplicates(subset=['CustomerID'])
data = pd.merge(data, customer_lookup_table.set_index('CustomerID'), on='CustomerID', how='left', suffixes=('_Original', '_Lookup'))

print(data.head())

   OrderID  CustomerID CustomerName_Original   Product     Category Quantity  \
0    75847        4098           @ charlie !    Laptop  Accessories        3
1     1854        8842               @ eva !    Laptop  Accessories        4
2    55148        1287             @ david !    Laptop  Accessories        2
3    36423        6745           @ charlie !    Laptop  Electronics        4
4    13329        6758             @ david !  Keyboard  Accessories        1

    Price   OrderDate          City Region  Returned TotalAmount  \
0  557.79  11/08/2024  NEW YORK#123   East     False     1673.37
1  411.20  32/13/2023   CHICAGO#123   East     False      1644.8
2  330.38  09-01-2024   HOUSTON#123   East     False      660.76
3  188.80  14/10/2023   HOUSTON#123   East     False       755.2
4  954.11  32/13/2023   CHICAGO#123   East     False      954.11

  CustomerName_Lookup
0         @ charlie !
1             @ eva !
2           @ david !
3         @ charlie !
4           @ david !

In [44]:
#Calculate return rate % by region (total returned orders / total orders).
data['Returned']=data['Returned'].map({'yes':True,'no':False})
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup
0,75847,4098,@ charlie !,Laptop,Accessories,3,557.79,11/08/2024,NEW YORK#123,East,NaN,1673.37,@ charlie !
1,1854,8842,@ eva !,Laptop,Accessories,4,411.20,32/13/2023,CHICAGO#123,East,NaN,1644.8,@ eva !
2,55148,1287,@ david !,Laptop,Accessories,2,330.38,09-01-2024,HOUSTON#123,East,NaN,660.76,@ david !
3,36423,6745,@ charlie !,Laptop,Electronics,4,188.80,14/10/2023,HOUSTON#123,East,NaN,755.2,@ charlie !
4,13329,6758,@ david !,Keyboard,Accessories,1,954.11,32/13/2023,CHICAGO#123,East,NaN,954.11,@ david !
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,90445,6611,@ charlie !,Keyboard,Accessories,2,255.23,10/06/2023,HOUSTON#123,East,NaN,510.46,@ bob !
25126,11600,8960,@ bob !,Keyboard,Accessories,1,1147.33,12-07-2023,CHICAGO#123,East,NaN,1147.33,@ charlie !
25127,44707,7179,@ charlie !,Keyboard,Electronics,9,1125.69,22/02/2023,PHOENIX#123,East,NaN,10131.21,@ bob !
25128,40937,2341,@ eva !,Tablet,Accessories,4,736.55,"March 12, 2024",NEW YORK#123,East,NaN,2946.2,@ alice !
25129,7354,2439,@ bob !,Laptop,Electronics,8,330.46,2024-10-05,LOS ANGELES#123,East,NaN,2643.68,@ david !

In [45]:
# Create a new column DiscountedPrice assuming a flat 10% discount on all products.

# Convert 'Price' to numeric, removing '$' and handling potential errors
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

data['DiscountPrice'] = data['Price'] * 0.9
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice
0,75847,4098,@ charlie !,Laptop,Accessories,3,557.79,11/08/2024,NEW YORK#123,East,NaN,1673.37,@ charlie !,502.011
1,1854,8842,@ eva !,Laptop,Accessories,4,411.20,32/13/2023,CHICAGO#123,East,NaN,1644.8,@ eva !,370.080
2,55148,1287,@ david !,Laptop,Accessories,2,330.38,09-01-2024,HOUSTON#123,East,NaN,660.76,@ david !,297.342
3,36423,6745,@ charlie !,Laptop,Electronics,4,188.80,14/10/2023,HOUSTON#123,East,NaN,755.2,@ charlie !,169.920
4,13329,6758,@ david !,Keyboard,Accessories,1,954.11,32/13/2023,CHICAGO#123,East,NaN,954.11,@ david !,858.699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,90445,6611,@ charlie !,Keyboard,Accessories,2,255.23,10/06/2023,HOUSTON#123,East,NaN,510.46,@ bob !,229.707
25126,11600,8960,@ bob !,Keyboard,Accessories,1,1147.33,12-07-2023,CHICAGO#123,East,NaN,1147.33,@ charlie !,1032.597
25127,44707,7179,@ charlie !,Keyboard,Electronics,9,1125.69,22/02/2023,PHOENIX#123,East,NaN,10131.21,@ bob !,1013.121
25128,40937,2341,@ eva !,Tablet,Accessories,4,736.55,"March 12, 2024",NEW YORK#123,East,NaN,2946.2,@ alice !,662.895
25129,7354,2439,@ bob !,Laptop,Electronics,8,330.46,2024-10-05,LOS ANGELES#123,East,NaN,2643.68,@ david !,297.414

In [46]:
data['TotalAmount']=pd.to_numeric(data['TotalAmount'],errors='coerce')
data['TotalAmount'].rolling(window=7).mean()

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
25125    3817.538571
25126    3756.337143
25127    4771.802857
25128    4406.905714
25129    3662.804286
Name: TotalAmount, Length: 25130, dtype: float64

In [47]:
data['TotalAmount']=pd.to_numeric(data['TotalAmount'],errors='coerce')
data['TotalAmount'].rank(ascending=False)

0        17585.0
1        17709.0
2        22817.0
3        22331.0
4        21266.0
          ...
25125    23580.0
25126    20151.0
25127     1346.0
25128    12965.0
25129    14077.0
Name: TotalAmount, Length: 25130, dtype: float64

In [48]:
cust_orders=data.groupby('CustomerID')['TotalAmount'].mean()
print(cust_orders)

CustomerID
1000    3667.135000
1001    2556.540000
1002    1144.410000
1003     659.095000
1004    1335.515000
           ...
9994     742.885000
9995    6744.706000
9996    4862.426667
9997    4380.593333
9998    2674.085000
Name: TotalAmount, Length: 8467, dtype: float64

In [49]:
data['Quantity']=pd.to_numeric(data['Quantity'],errors='coerce')
data.groupby(['Category','Region'])['Quantity'].sum()

Category     Region
Accessories  East      60746.0
Electronics  East      61098.0
Name: Quantity, dtype: float64

In [57]:
data.groupby('Region')['TotalAmount'].agg(TotalSum='sum',mean='mean',min='min',max='max')

           TotalSum         mean     min       max
Region
East    99725660.81  4007.460752  100.07  13492.53

In [51]:
# 59.Convert the OrderDate to datetime and extract new columns: Year, Month, and       Weekday.
data['OrderDate']=pd.to_datetime(data['OrderDate'],errors='coerce')
data['Year']=data['OrderDate'].dt.year
data['Month']=data['OrderDate'].dt.month
data['Weekday']=data['OrderDate'].dt.weekday
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice,Year,Month,Weekday
0,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,NaN,1673.37,@ charlie !,502.011,2024.0,11.0,4.0
1,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,NaN,1644.80,@ eva !,370.080,NaN,NaN,NaN
2,55148,1287,@ david !,Laptop,Accessories,2.0,330.38,NaT,HOUSTON#123,East,NaN,660.76,@ david !,297.342,NaN,NaN,NaN
3,36423,6745,@ charlie !,Laptop,Electronics,4.0,188.80,NaT,HOUSTON#123,East,NaN,755.20,@ charlie !,169.920,NaN,NaN,NaN
4,13329,6758,@ david !,Keyboard,Accessories,1.0,954.11,NaT,CHICAGO#123,East,NaN,954.11,@ david !,858.699,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,90445,6611,@ charlie !,Keyboard,Accessories,2.0,255.23,2023-10-06,HOUSTON#123,East,NaN,510.46,@ bob !,229.707,2023.0,10.0,4.0
25126,11600,8960,@ bob !,Keyboard,Accessories,1.0,1147.33,NaT,CHICAGO#123,East,NaN,1147.33,@ charlie !,1032.597,NaN,NaN,NaN
25127,44707,7179,@ charlie !,Keyboard,Electronics,9.0,1125.69,NaT,PHOENIX#123,East,NaN,10131.21,@ bob !,1013.121,NaN,NaN,NaN
25128,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,NaT,NEW YORK#123,East,NaN,2946.20,@ alice !,662.895,NaN,NaN,NaN
25129,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,NaT,LOS ANGELES#123,East,NaN,2643.68,@ david !,297.414,NaN,NaN,NaN

In [52]:
# 77.Create a column HighValueOrder where TotalAmount > 5000.
data['HighValueOrder'] = data['TotalAmount'] > 5000
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice,Year,Month,Weekday,HighValueOrder
0,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,NaN,1673.37,@ charlie !,502.011,2024.0,11.0,4.0,False
1,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,NaN,1644.80,@ eva !,370.080,NaN,NaN,NaN,False
2,55148,1287,@ david !,Laptop,Accessories,2.0,330.38,NaT,HOUSTON#123,East,NaN,660.76,@ david !,297.342,NaN,NaN,NaN,False
3,36423,6745,@ charlie !,Laptop,Electronics,4.0,188.80,NaT,HOUSTON#123,East,NaN,755.20,@ charlie !,169.920,NaN,NaN,NaN,False
4,13329,6758,@ david !,Keyboard,Accessories,1.0,954.11,NaT,CHICAGO#123,East,NaN,954.11,@ david !,858.699,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,90445,6611,@ charlie !,Keyboard,Accessories,2.0,255.23,2023-10-06,HOUSTON#123,East,NaN,510.46,@ bob !,229.707,2023.0,10.0,4.0,False
25126,11600,8960,@ bob !,Keyboard,Accessories,1.0,1147.33,NaT,CHICAGO#123,East,NaN,1147.33,@ charlie !,1032.597,NaN,NaN,NaN,False
25127,44707,7179,@ charlie !,Keyboard,Electronics,9.0,1125.69,NaT,PHOENIX#123,East,NaN,10131.21,@ bob !,1013.121,NaN,NaN,NaN,True
25128,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,NaT,NEW YORK#123,East,NaN,2946.20,@ alice !,662.895,NaN,NaN,NaN,False
25129,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,NaT,LOS ANGELES#123,East,NaN,2643.68,@ david !,297.414,NaN,NaN,NaN,False

In [53]:
# 66. Extract only the first name from the CustomerName column.
data['FirstName'] = data['CustomerName_Lookup'].astype(str).str.replace('[@!]', '', regex=True).str.split().str[0]
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice,Year,Month,Weekday,HighValueOrder,FirstName
0,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,NaN,1673.37,@ charlie !,502.011,2024.0,11.0,4.0,False,charlie
1,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,NaN,1644.80,@ eva !,370.080,NaN,NaN,NaN,False,eva
2,55148,1287,@ david !,Laptop,Accessories,2.0,330.38,NaT,HOUSTON#123,East,NaN,660.76,@ david !,297.342,NaN,NaN,NaN,False,david
3,36423,6745,@ charlie !,Laptop,Electronics,4.0,188.80,NaT,HOUSTON#123,East,NaN,755.20,@ charlie !,169.920,NaN,NaN,NaN,False,charlie
4,13329,6758,@ david !,Keyboard,Accessories,1.0,954.11,NaT,CHICAGO#123,East,NaN,954.11,@ david !,858.699,NaN,NaN,NaN,False,david
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,90445,6611,@ charlie !,Keyboard,Accessories,2.0,255.23,2023-10-06,HOUSTON#123,East,NaN,510.46,@ bob !,229.707,2023.0,10.0,4.0,False,bob
25126,11600,8960,@ bob !,Keyboard,Accessories,1.0,1147.33,NaT,CHICAGO#123,East,NaN,1147.33,@ charlie !,1032.597,NaN,NaN,NaN,False,charlie
25127,44707,7179,@ charlie !,Keyboard,Electronics,9.0,1125.69,NaT,PHOENIX#123,East,NaN,10131.21,@ bob !,1013.121,NaN,NaN,NaN,True,bob
25128,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,NaT,NEW YORK#123,East,NaN,2946.20,@ alice !,662.895,NaN,NaN,NaN,False,alice
25129,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,NaT,LOS ANGELES#123,East,NaN,2643.68,@ david !,297.414,NaN,NaN,NaN,False,david

In [54]:
# Convert 'Price' column to numeric, as it might have been reset in previous operations
data['Price'] = data['Price'].astype(str).str.replace('$', '', regex=False)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')

data['suspicious']=((data['Quantity']>10) & (data['Price']>1000))
data

,OrderID,CustomerID,CustomerName_Original,Product,Category,Quantity,Price,OrderDate,City,Region,Returned,TotalAmount,CustomerName_Lookup,DiscountPrice,Year,Month,Weekday,HighValueOrder,FirstName,suspicious
0,75847,4098,@ charlie !,Laptop,Accessories,3.0,557.79,2024-11-08,NEW YORK#123,East,NaN,1673.37,@ charlie !,502.011,2024.0,11.0,4.0,False,charlie,False
1,1854,8842,@ eva !,Laptop,Accessories,4.0,411.20,NaT,CHICAGO#123,East,NaN,1644.80,@ eva !,370.080,NaN,NaN,NaN,False,eva,False
2,55148,1287,@ david !,Laptop,Accessories,2.0,330.38,NaT,HOUSTON#123,East,NaN,660.76,@ david !,297.342,NaN,NaN,NaN,False,david,False
3,36423,6745,@ charlie !,Laptop,Electronics,4.0,188.80,NaT,HOUSTON#123,East,NaN,755.20,@ charlie !,169.920,NaN,NaN,NaN,False,charlie,False
4,13329,6758,@ david !,Keyboard,Accessories,1.0,954.11,NaT,CHICAGO#123,East,NaN,954.11,@ david !,858.699,NaN,NaN,NaN,False,david,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25125,90445,6611,@ charlie !,Keyboard,Accessories,2.0,255.23,2023-10-06,HOUSTON#123,East,NaN,510.46,@ bob !,229.707,2023.0,10.0,4.0,False,bob,False
25126,11600,8960,@ bob !,Keyboard,Accessories,1.0,1147.33,NaT,CHICAGO#123,East,NaN,1147.33,@ charlie !,1032.597,NaN,NaN,NaN,False,charlie,False
25127,44707,7179,@ charlie !,Keyboard,Electronics,9.0,1125.69,NaT,PHOENIX#123,East,NaN,10131.21,@ bob !,1013.121,NaN,NaN,NaN,True,bob,False
25128,40937,2341,@ eva !,Tablet,Accessories,4.0,736.55,NaT,NEW YORK#123,East,NaN,2946.20,@ alice !,662.895,NaN,NaN,NaN,False,alice,False
25129,7354,2439,@ bob !,Laptop,Electronics,8.0,330.46,NaT,LOS ANGELES#123,East,NaN,2643.68,@ david !,297.414,NaN,NaN,NaN,False,david,False

In [55]:
product_lookup=data[['Product','Category','Price']].drop_duplicates()
product_lookup.to_csv('product_lookup.csv',index=False)
product_lookup

        Product     Category    Price
0        Laptop  Accessories   557.79
1        Laptop  Accessories   411.20
2        Laptop  Accessories   330.38
3        Laptop  Electronics   188.80
4      Keyboard  Accessories   954.11
...         ...          ...      ...
25125  Keyboard  Accessories   255.23
25126  Keyboard  Accessories  1147.33
25127  Keyboard  Electronics  1125.69
25128    Tablet  Accessories   736.55
25129    Laptop  Electronics   330.46

[24645 rows x 3 columns]

In [56]:
# 86.Create a customer lookup DataFrame with unique CustomerID, CustomerName, and total orders. Save it.
# Calculate total orders for each customer
customer_orders_count = data.groupby(['CustomerID', 'CustomerName_Lookup']).size().reset_index(name='TotalOrders')

# Create the customer lookup DataFrame
Customer_lookup = customer_orders_count[['CustomerID', 'CustomerName_Lookup', 'TotalOrders']].drop_duplicates()

# Save the lookup table to a CSV file
Customer_lookup.to_csv('customer_lookup.csv', index=False)

# Display the lookup table
Customer_lookup

      CustomerID CustomerName_Lookup  TotalOrders
0           1000             @ eva !            2
1           1001             @ bob !            5
2           1002           @ david !            2
3           1003             @ bob !            2
4           1004         @ charlie !            2
...          ...                 ...          ...
8462        9994             @ bob !            2
8463        9995           @ alice !            5
8464        9996             @ eva !            3
8465        9997             @ bob !            3
8466        9998             @ bob !            3

[8467 rows x 3 columns]